@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root[data-theme="tokyo-night-dark"] {
    --background: #1a1b26;
    --background2: #15161e;
    --surface: #414868;
    --color: #a9b1d6;
    --accent: #7aa2f7;
}

:root[data-theme="tokyo-night-storm"] {
    --background: #24283b;
    --background2: #1d202f;
    --surface: #282e44;
    --color: #a9b1d6;
    --accent: #7aa2f7;
}

:root[data-theme="tokyo-night-light"] {
    --background: #e6e7ed;
    --background2: #d9dae3;
    --surface: #c1c2c7;
    --color: #343b58;
    --accent: #2959aa;
}

hr {
    border: 0;
    border-top: 1px solid var(--surface)
}

svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    shape-rendering: auto
}

.contacts-list,
.tech-stack-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem
}

.icon {
    display: inline-flex;
    align-items: center
}

ul {
    list-style-type: none;
    padding: 0
}

a {
    text-decoration: none;
    color: var(--accent)
}

a:hover {
    text-decoration: underline;
}

select {
    background-color: var(--background2);
    border: 1px solid var(--surface);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--color)
}

option {
    background-color: var(--background2);
    color: var(--text);
}
