---
import Layout from "../layouts/Layout.astro";
import Games from "../components/games.astro";
import TechStack from "../components/tech-stack.astro";
---

<Layout>
    <h1>about me</h1>
    <p>i've been programming since i was about 9-10 years old, i've been loving programming since then, also, i play a couple games too like:
    </p>
    <Games />
    <p>here's my tech stack too.. it's pretty small</p>
    <TechStack />
</Layout>

<style>
    .tech-stack-box {
        border: 1px solid var(--surface);
        color: var(--text);
        border-radius: 5px;
        padding: 0.2em;
        margin-right: 0.5em;
    }
</style>
