---
import Layout from "../layouts/Layout.astro";
import Contacts from "../components/contacts.astro";
---

<Layout>
	<h1>hi! i'm <span class="name">Omar</span></h1>
	<p>i'm a code developer from egypt who learns html, css and some javascript, im also really interested into programming too lol.</p>
	<hr class="seperator" />
	<Contacts />
</Layout>

<style>
	.name {
		color: var(--accent);
	}
</style>
