---
import Github from "simple-icons-astro/Github";
import Discord from "simple-icons-astro/Discord";
import Linux from "simple-icons-astro/Linux";
import Lemmy from "simple-icons-astro/Lemmy";
---

<section>
    <p>you can find me over at:</p>
    <ul class="contacts-list">
        <li class="icon">
            <Discord />
            <span>Discord</span>
            <a class="username" href="https://discord.com/users/1135918173959491595">omardotdev</a>
        </li>
        <li class="icon">
            <Github />
            <span>Github</span>
            <a class="username" href="https://github.com/omardotdev">omardotdev</a>
        </li>
        <li class="icon">
            <Linux />
            <span>SuperTuxKart</span>
            <a class="username" href="https://online.supertuxkart.net/users.php?user=omardotdev">omardotdev</a>
        </li>
        <li class="icon">
            <Lemmy />
            <span>Lemmy</span>
            <a class="username" href="https://sh.itjust.works/u/omardotdev">omardotdev</a>
        </li>
    </ul>
</section>

<style>
    .username {
        border: 1px solid var(--surface);
        color: var(--text);
        border-radius: 5px;
        padding: 0.2em;
        margin-left: 0.5em;
        min-width: 5rem;
    }
</style>
