<ul>
    <li><a href="https://minecraft.net">Minecraft</a></li>
    <li><a href="https://osu.ppy.sh/">osu!</a></li>
    <li><a href="https://supertuxkart.net">SuperTuxKart</a></li>
    <li><a href="https://supertux.org">SuperTux</a></li>
</ul>