---
import '../styles/global.css';
---

<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta property="og:title" content="Omar's website" />
<meta property="og:description" content="my very epic website!" />
<meta property="og:image" content="https://omardotdev.is-a.dev/cat.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Omar's website" />
<meta name="twitter:description" content="my very epic website!" />
<meta name="generator" content={Astro.generator} />
<title>Omar</title>