---
import Html5 from "simple-icons-astro/Html5";
import Css from "simple-icons-astro/Css";
import Javascript from "simple-icons-astro/Javascript";
import Nodedotjs from "simple-icons-astro/Nodedotjs";
---

<ul class="tech-stack-list">
    <li class="icon">
        <span class="tech-stack-box">frontend</span>
        <Html5 />
        <Css />
        <Javascript />
    </li>
    <li class="icon">
        <span class="tech-stack-box">backend</span>
        <Nodedotjs />
    </li>
</ul>

<style>
    .tech-stack-box {
        border: 1px solid var(--surface);
        color: var(--text);
        border-radius: 5px;
        padding: 0.2em;
        margin-right: 0.5em;
    }
</style>
