---
import Head from "../components/head.astro";
import NavBar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<header>
			<NavBar />
		</header>
		<main>
			<slot />
		</main>
		<script src="../scripts/oneko.js"></script>
		<script src="../scripts/theme.js"></script>
	</body>
</html>